<h1>hola desde {{ title}}</h1>

<input type="text" [(ngModel)]="title">


<button (click)="addItem()">Add item</button>

<br>
<!--<div>-->
<!--  <input type="text" [(ngModel)]="power"/>-->
<!--  <br>-->
<!--  <span *ngIf="power">{{power | exponential }}</span>-->
<!--</div>-->




<!--<div *ngIf="title === 'camilo'">-->
<!--  esto es el div de camilo-->
<!--</div>-->


<!--<div *ngIf="title === 'javier'">-->
<!--  esto es el div de itachis-->
<!--</div>-->

<p *ngIf="nombres.length === 0">La lista esta vacia</p>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'camilo'">Este es chimbita 😎</p>
  <p *ngSwitchCase="'javier'">Este es chimbita tambien 😸</p>
  <p *ngSwitchDefault>No es chimbita 😅</p>
</div>


<ul>
  <li *ngFor="let nombre of nombres; index as i">
    {{nombre + ' ' + i}}
    <button (click)="deleteItem(i)">X</button>
  </li>
</ul>

